@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

/* @custom-variant dark (&:is(.dark *)); */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-label: var(--label);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-950: var(--primary-950);
  --color-primary-900: var(--primary-900);
  --color-primary-800: var(--primary-800);
  --color-primary-700: var(--primary-700);
  --color-primary-100: var(--primary-100);
  --color-primary-50: var(--primary-50);
  --color-secondary: var(--secondary);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-grey-900: var(--grey-900);
  --color-grey-800: var(--grey-800);
  --color-grey-200: var(--grey-200);
  --color-grey-100: var(--grey-100);
  --color-grey-50: var(--grey-50);
  --color-grey: var(--grey);
  --color-success: var(--success);
  --color-success-100: var(--success-100);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-tertiary: var(--tertiary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-btn-xs: 0px 1.21px 2.43px 0px #3232470F, 0px 1.21px 1.21px 0px #3232470F;
  --shadow-btn-sm: 0px 2.43px 4.86px 0px #3232470F, 0px 2.43px 2.43px 0px #32324714;
  --shadow-btn-md: 0px 4.86px 9.72px 0px #3232470F, 0px 4.86px 4.86px 0px #32324714;
  --shadow-btn-lg: 0px 9.72px 14.58px 0px #32324714, 0px 7.29px 7.29px 0px #32324714;

  --shadow-card-xs: 0px 14.58px 19.43px 0px #32324714, 0px 9.72px 9.72px 0px #32324714;
  --shadow-card-sm: 0px 19.43px 24.29px 0px #3232471A, 0px 12.15px 12.15px 0px #3232471A;
  --shadow-card-md: 0px 24.29px 29.15px 0px #32324712, 0px 14.58px 14.58px 0px #3232470D;
  --shadow-card-lg: 0px 29.15px 34.01px 0px #3232471A, 0px 17.01px 17.01px 0px #3232471A;

  --shadow-status-xs: -8.5px -2.43px 18.22px 0px #9A005624, 8.5px 2.43px 18.22px 0px #9A005624;
  --shadow-status-sm: 0px 4.86px 9.72px 0px #3232470F, 0px 4.86px 4.86px 0px #32324714;
  --shadow-status-md: 0px 9.72px 14.58px 0px #FF647C14, 0px 4.86px 4.86px 0px #FF647C14;
  --shadow-status-lg: 0px 9.72px 14.58px 0px #00C48C14, 0px 4.86px 4.86px 0px #00C48C14;

  --shadow-input: 0px 1px 2px 0px #0A0D120D;


  --leading-16.5: 68px;
  --leading-7.5: 30px;
  --leading-5.5: 22px;
  --leading-6.5: 26px;

  --text-2.5xl: 26px;
  --text-3.5xl: 32px;  
  --text-4.5xl: 40px;
  --text-6xl: 56px;

  --spacing-5.5: 22px;
  --spacing-6.5: 26px;
  --spacing-12.5: 50px;
  --spacing-4.5xl: 924px;

  --container-7xl: 1248px;

  --font-display: var(--font-manrope-sans)

}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: #FAFAFA;
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #0D5A9B;
  --primary-50: #EDFBFF;
  --primary-100: #D6F5FF;
  --primary-700: #008BFF;
  --primary-800: #0869C5;
  --primary-950: #0E365D;
  --secondary: #FF9000;
  --secondary-100:#FFBF32;
  --tertiary: #22427F;
  --success: #27AE60;
  --success-100: #4FC849;
  --warning: #E2B93B;
  --error: #EB5757;
  --grey:#706F6F;
  --grey-50: #F9F9F9;
  --grey-100: #E0E0E0; 
  --grey-200: #BDBDBD;
  --grey-800: #4F4F4F;
  --grey-900: #333333;
  --primary-foreground: #FFFFFF;
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: #E0E0E0;
  --input: #D5D7DA;
  --label: #414651;
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --footer-gradient: 243.64deg, #0D5A9B 30.79%, #0E365D 104.8%;
  --primary-gradient: 90deg, rgba(13, 90, 155, 0.9) 0%, rgba(14, 54, 93, 0.9) 100%;
  --secondary-gradient: 243.64deg, #0D5A9B 30.79%, #0E365D 104.8%;
  --gradient-color: 90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 21%, rgba(255, 255, 255, 0) 74%, #FFFFFF 100%;
  --gradient-width: 50%;
 

}

/* .dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-primary-foreground font-display;
  }



  .container {
    @apply max-w-7xl mx-auto px-4 @7xl:px-0;
  }

  .section-spacing {
      @apply  pb-10 md:pb-12 lg:pb-24
  }

  .heading-2xl {
    @apply text-2.5xl leading-8 md:text-6xl font-bold md:leading-16.5;
  }
  
  .heading-xl {
    @apply text-2xl leading-7 md:text-5xl font-bold md:leading-16;
  }
  
  .heading-lg {
    @apply text-3xl leading-6.5 md:text-4.5xl font-bold md:leading-14;
  }
  
  .heading-md {
    @apply text-2xl leading-7 md:text-3.5xl font-bold md:leading-11;
  }
  
  .heading-sm {
    @apply text-lg leading-6.5 md:text-2xl font-bold md:leading-8;
  }
  
  .title-xl{
    @apply text-lg md:text-xl font-bold leading-9
  }

  .title-lg{
    @apply text-lg font-bold leading-8
  }

  .title-md{
    @apply text-base font-bold leading-6
  }

  .title-sm{
     @apply text-sm font-bold leading-5.5
  }

  .body-xl{
    @apply text-xl font-normal leading-9
  }

  .body-lg{
    @apply text-base leading-6 md:text-lg font-normal md:leading-7.5
  }

  .body-md{
    @apply text-base font-normal leading-6
  }

  .body-sm{
     @apply text-sm font-normal leading-5.5
  }

  .subheading {
    @apply uppercase text-grey-800 text-lg font-bold leading-8
  }

  .title {
    @apply text-primary text-2xl leading-7 md:text-4.5xl font-bold md:leading-11
  }

  .required-label {
    @apply after:content-['*'] after:text-primary
  }

  .service-item {
    @apply lg:flex-1 lg:grow-1
  }
  
  .service-item:hover {
   @apply lg:grow-[2.3];

  }

  .service-container:not(:hover) .service-item:first-child {
    @apply lg:grow-[2.3];
  }

}

/* Swiper Styles */
.hero-swiper {
  width: 100%;
  height: 542px;
  min-height: 542px;
}

.hero-swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ensure the container has proper height */
.hero-swiper .swiper-wrapper {
  height: 100%;
}

.hero-swiper .swiper-slide {
  height: 100%;
}



